.item {
  background: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  .notice {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    a {
      color: rgb(82, 102, 237);
    }
  }

  .logined-item {
    display: flex;
    flex-direction: column;

    input {
      border-radius: 16px;
      padding: 4px 8px;
      margin: 0 8px;
      background: white;
    }

    .filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 4px;
      top: 18%;

      li {
        padding: 0 4px;

        &:nth-child(10) {
          padding: 0 6px;
        }

        &.selected {
          color: white;
          background: rgb(254, 137, 67);
        }
      }
    }

    .xxx {
      color: inherit;

      padding: 4px 20px 4px 16px;
      margin-top: 8px;
      margin-right: 24px;
      border-bottom: 1px solid #d4d4d4;

      div {
        padding: 2px 0;
      }
    }
  }

}