.login {
  height: 100vh;
  background: rgb(241, 241, 241);
  position: relative;

  .bind {
    text-align: center;
    padding: 16px 0;
    background: white;
    margin-bottom: 4px;
  }

  ::v-deep button {
    border-radius: 24px;
  }

  ::v-deep .btn {
    margin: 0 32px;
  }

  .imgWrapper {
    display: flex;
    justify-content: center;

    img {
      width: 40vw;
      height: 38vw;
      background: white;
      text-align: center;
      margin: 64px 0 32px 0;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 250px;
  }

}
