.login {
  height: 100vh;
  background: white;
  position: relative;

  .bind {
    text-align: center;
    padding: 16px 0;
    background: white;
    margin-bottom: 4px;
  }

  ::v-deep button {
    border-radius: 4px;
  }

  ::v-deep .btn {
    margin: 0 32px;
  }
}
