.login {
  height: 100vh;
  background: rgb(241, 241, 241);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .xxx {
    flex-grow: 1;
    margin-top: 72px;

    .imgWrapper {
      text-align: center;

      img {
        width: 40vw;
        height: 38vw;
        background: white;
        text-align: center;
      }
    }

    .warning {
      text-align: center;
      margin-top: 24px;
      color: red;
    }
  }

  .copyright {
    margin-bottom: 16px;
  }
}
